html, body {
    height: 100%;
    scroll-padding-top: 10%;
  }
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
   
}
@font-face {
  font-family: 'helvetica-thin';
  src: url('/helvetica-thin.ttf') format('ttf');
}
.add-and-price{
  display: none;
}
.back{
    top: 0;
    left: 0;
    padding-left: 2%;
    padding-top: 1%;
width: auto;
height: 20px;
}
.back a{
  color: black;
  text-decoration: none;
    font-family: Helvetica;
font-size:20px;
font-weight: 600;

}
.back-arrow{
    width: 20px;
    position: relative;
    top: 55%;
    transform: translateY(-50%);
}
.container-1{
    width: 100%;
  height: auto;
    
   
}

#image-selector a{
  display: inline-flex;
  width: 7rem;
  height: .2rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 0 0.5rem 0;
  position: relative;
}

#image-selector > .active{
  background-color: black;
  }
  #image-selector > .btn:hover{
    background-color: black;
  }

.product-image{
    width: 65%;
    height: 84%;
 
    margin-left: 5%;
    margin-top: 3%;
float: left;

}

.container{
  width: 65%;
  height: 84%;

  margin-left: 5%;
  margin-top: 3%;
float: left;

}


.carousel .carousel-indicators li{
  background-color: grey;
}
.carousel .carousel-indicators li.active{
  background-color: black;
}

.glasses1{
    width: 100%;
 
}
.product-info{
    float: left;
    height: 84%;
    width: 20%;
  
    
    margin-top: 3%;
    margin-left: 2%;
}
.frame-spec{
    font-family:helvetica;
    font-size: 1.5vw;
    }
.lens-spec{
    font-family:helvetica;
    font-size: 1.5vw;
}
.price{
    font-family: Helvetica;
    font-size: 1.5vw;  
    margin-bottom: 4%;
}
.atc-text{
    font-weight: 700;
    font-size: 1.5vw; 
    font-family: helvetica;
   
    }
.spectrum-container{
    width: 55%;
    height: 84%;

    margin-left: 9%;
   
float: left;

}
.spectrum-image{
    width: 100%;
    margin-bottom: 5%;
}
.lens-container{
    float: left;
    height: 84%;
    width: 32%;
 
    
   
    margin-left: 2%;
}
.lens-image{
width: 100%;
}

.product-info p{ 
    font-family: Helvetica;
    font-weight:lighter;
    font-size: 1.1vw;
}
.container-2{
 
    
    width: 100%;
   text-align: center;
}


.circle{
    border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  background: white;
    border: solid black 2px;
    margin-top: 10%;
}
.inner-text{
    vertical-align: middle;
    text-align: center;
    font-size: 1.2vw;
  
    font-family: helvetica;
}     
 .container-3 {
    display: flex;
  }

  .container-3 :first-child {
    width: 57%;
    height: 100%;
  }

  .container-3 > * {
    flex: 0 0 auto;
  }

  /*SLIDER  */

  
  .slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
  display: none;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width:100%;
    height: 90%;
    margin-right: 50px;
   
    
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .slider > a {
    display: inline-flex;
    width: 3rem;
    height: .1rem;
  
    text-decoration: none;
    align-items: center;
    justify-content: center;
   
    border: 1px solid black;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
    background: #1c87c9;
  }
  .slider > a:focus {
    background: purple;
  }

  /*SMARTPHONE MEDIA QUERIES */

@media screen and (max-width: 480px) {

  .back a{
    color: black;
    text-decoration: none;
      font-family: Helvetica;
  font-size:10px;
  font-weight: 600;
  
  }
  .back-arrow{
      width: 10px;
      position: relative;
      top: 50%;
      transform: translateY(-98%);
  }
.product-image{
    width: 100%;
    margin-left: 0;
    border: none;
}
.container{
  width: 100%;
  margin-left: 0;
  border: none;
}


.product-info{
    width: 100%;
    display: flex;
    margin-left: 0;
    
}
.product-info p{
    font-family: Helvetica;
}
.spectrum-container{
    width: 100%;
    margin-left: 0;
    border: none;

}
.spectrum-image{
 width: 95%;
 padding: 2%;
}
.temple-frame{
    display:none;
}
.frame-spec{
width: 50%;
display: inline-block;
margin-left: 2%;
margin-right: -4%;
font-family: Helvetica;
font-size: 3vw;
font-weight: 100;
}
.lens-spec{
    width: 45%; 
    display: inline-block;
 
    font-family: Helvetica;
    font-size: 3vw;
    font-weight: 100;
}
.add-and-price{
    float: right;
 
  height: 50px;
  margin-top: 16%;
  margin-right: 1%;
  width: 65px;
}
.price{
    font-size: 2.8vw;
    font-family: Helvetica;
    float: right;
}
.atc-text{
    font-family: Helvetica;
    font-size:  2.4vw;
    font-weight: bold;
float: right;
}
.lens-container{
    display: flex;
    width: 100%;
    margin-left: 0;
    border: none;
}
.lens-image{
width: 50%;
}
.inner-text{
    vertical-align: middle;
    width: 45%;
    font-size: 3vw;
margin-top: 25%;
font-weight: 100;
}
}
