html, body {
  height: 100%;
  scroll-padding-top: 10%;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
 
}
@font-face {
font-family: 'helvetica-Light';
src: url('/Helvetica-Light.ttf') format("truetype");
}
@font-face {
font-family: 'helvetica-thin';
src: url('/helvetica-thin.ttf') format("truetype");
}
@font-face {
font-family: 'helvetica-neue-ce-35-thin';
src: url('/helvetica-neue-ce-35-thin.ttf') format("truetype");
}
@font-face {
font-family: 'helvetica-ultralight';
src: url('/helveticaneueltstd-ultlt.otf') format('otf');
}
@font-face {
  font-family: 'hero-light';
  src: url('/Hero-Light-200.otf') format("opentype");
  }
  @font-face {
    font-family: 'hero-regular';
    src: url('/Hero-Regular-400.otf') format("opentype");
    }

    .boldo{
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
   }
.d-block.w-100{

width: 80% !important;
height: auto;

}


.carousel-control-next-icon{


background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-prev-icon{

background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}




.row.top{
margin-left: 5%;
margin-top: 1%;
}

.row {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 90%;


}
.row.bottom{
margin-top: 1%;
}
.column {
display: flex;
flex-direction: column;
flex-basis: 100%;
width: 99%;
}

.column.lens{
text-align: center;
}
.orange-column {
background-color: orange;
height: 100px;
}

.blue-column {
background-color: blue;
height: 100px;
}

.green-column {
background-color: green;
height: 100px;
}

.double-column {
display: flex;

flex-basis: 100%;

}


@media screen and (min-width: 800px) {
.column {
  flex: 1
}

.double-column {
  flex: 1
}
}


.atc-mobile{
display: none;
}
.atc-desktop{
  display: none;
}

.add-and-price{

}
.back{
  top: 0;
  left: 0;
  position: relative;
  padding-top: 0.5%;
width: auto;
height: 20px;
text-align: center;
}

.back a{
color: black;
text-decoration: none;
  font-family: Helvetica;
font-size:  14px;
font-weight: 600;
display: inline-block;
}
.arrow-and-text{
  display: inline;
  position: absolute;
  left: 0;
  height: 20px;
  margin-left: 3%;
}
.back-arrow{
  width: 15px;
  position: relative;
  top: 60%;
  transform: translateY(-98%);
 display: inline-block;
 line-height: 20px;
}
.small-logo{
  display: inline-block;
}
.small-logo img{
  width: 10vw;
  height: auto;
 margin-bottom: 10%;
}
.container-1{
  width: 100%;
height: auto;
}
.frame-name.mobile{
  display: none;
}
#image-selector a{
display: inline-flex;
width: 7rem;
height: .2rem;
background: white;
text-decoration: none;
align-items: center;
justify-content: center;
border: 1px solid black;
margin: 0 0 0.5rem 0;
position: relative;
}

#image-selector > .active{
background-color: black;
}
#image-selector > .btn:hover{
  background-color: black;
}

.product-image{
  width: 65%;
  height: 84%;

  margin-left: 5%;
  margin-top: 3%;
float: left;

}
#carouselExampleIndicators {
width: 100%;
padding-left: 1%;
}
.carousel-inner{

}
.carousel-indicators{
  bottom: 1% !important;
  position: absolute;
  margin-top: 10% !important;
}
ol{
  margin-bottom: -3%;
}
.container{

height: 84%;
margin-left: 2%;

float: left;

}


.carousel .carousel-indicators li{
background-color: grey;
}
.carousel .carousel-indicators li.active{
background-color: black;
}

.glasses1{
  width: 100%;

}
.product-info{
  float: right;
  margin-top: 5%;
  margin-left: 13%;
}
.product-info.desktop{
display: flex;
flex-direction: row;

}
.info-left{
  flex: 1;
}
.info-right{
  flex: 1;
}
.curvature-options a {
  
  border-radius: 2px;
  text-decoration: none;
  color: black;
}
.curvature-option{
  padding-left: 1em;
  padding-right: 1em;
}

.curvature-options a.active {
  font-weight: bold;
  border: 1px solid black;
}
.inline{
  float: left;
}
.curve-silo{
  width: 75%;
  margin-right: 45%;
  margin-top: 25%;
}
.product-info.mobile{
  display: none;
}
.temple-frame{
  font-family: "helvetica";
  font-weight:600;
  color:#d63a88;
}
.other-text{
  font-size: 1vw;
}
.frame-spec{
  font-family:'hero-light';
  font-size: 1vw;
line-height: 1.1;
  }
.lens-spec{
  font-family:'hero-light';
  font-size: 1vw;
  line-height: 1.1;
}
.price{
  font-family: 'helvetica-Light';
  font-size: 1.5vw;  
  margin-bottom: 4%;
  display: none;
}
#product-component-1665262700238{

width: 160px;
height: 60px;
margin-left: -30px;
margin-top: -5%;
}
.shopify-buy__btn-wrapper{
margin-top: 0px;
}
.spectrum-container{


margin-left: 10%;
 
float: left;

}
.curvature-options a {
 
  text-decoration: none;
  color: black;
}

.curvature-options a.active {

  font-weight: bold;
  border: 1px solid black;
}
.spectrum-image{
  width: 100%;
  margin-bottom: 5%;
}
.status-button{
  text-align: center;
  background-color: black;
  color: white;
  min-height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 0.9em;
  font-weight: 600;
}
.lens-container{
  float: left;
  height: 84%;
  width: 100%;

  
 
  margin-left: 4%;
}
.lens-container.mobile{
display: none;
}
.column.lens.mobile{
display: none;
}

.double-column.mobile{
display: none;
}
.lens-image{
width: 85%;
height: 85%;
}

.product-info p{ 
  font-family: Helvetica;
  font-weight:lighter;
  font-size: 1.1vw;
}
.container-2{

  
  width: 100%;
 text-align: center;
}


.circle{
  border-radius: 50%;
width: 100%;
padding-bottom: 100%;
background: white;
  border: solid black 2px;
  margin-top: 10%;
}
.inner-text{
  vertical-align: middle;
  text-align: center;
  font-size: 1.6vw;

  font-family: 'helvetica-Light';
}     
.container-3 {
  display: flex;
}

.container-3 :first-child {
  width: 57%;
  height: 100%;
}

.container-3 > * {
  flex: 0 0 auto;
}

/*SLIDER  */


.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
display: none;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width:100%;
  height: 90%;
  margin-right: 50px;
 
  
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slider > a {
  display: inline-flex;
  width: 3rem;
  height: .1rem;

  text-decoration: none;
  align-items: center;
  justify-content: center;
 
  border: 1px solid black;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
  background: #1c87c9;
}
.slider > a:focus {
  background: purple;
}

/*SMARTPHONE MEDIA QUERIES */

@media screen and (max-width: 770px) {
.small-logo{
  display: none;
}
  .small-logo.mobile{
    display: block;
   
  }
  .small-logo img{
    width: 35%;
    margin-bottom: 0;
  }
  .carousel-indicators{
    bottom: 1% !important;
    position: relative;
    margin-top: 5% !important;
  }

  .temple-frame, .curvature-options {
    display: inline-block; /* Ensures elements stay on the same line */
  }
  .curvature-option{
    padding-left: 15px;
    padding-right: 15px;
  }
  .frame-name.mobile{
    margin: 0 auto;
    display: none;
    font-family: 'hero-regular';
    padding: 2%;
    font-size: 3vw;
  }
.column.lens.desktop{
display: none;
}
.double-column.mobile{
display: block;

}
.product-info.desktop{
  display: none;
}
.spectrum-container.desktop{
  display: none;
}
.carousel-control-next-icon{
 display: none;}
 .carousel-control-prev-icon{
  display: none; }
 .row{
  width: 100%;
 }
.row.top{
margin-left: 0;
margin-right: 0;
display: inline-block;

}
.d-block.w-100{

width: 90dvw !important;
height: auto;

}
.double-column{
  margin-top: 4px;
}
#carouselExampleIndicators {
width: 100%;
padding-left: 0;

}

ol{
  margin-bottom: 0;
}
.back a{
  color: black;
  text-decoration: none;
    font-family: Helvetica;
font-size:10px;
font-weight: 600;

}
.other-text{
  font-size: 3vw;
}
.back-arrow{
    width: 11px;
    position: relative;
    top: 54%;
    transform: translateY(-98%);
}
.product-image{
  width: 100%;
  margin-left: 0;
  border: none;
}
.container{
width: 100%;
padding-left: 0;
padding-right: 0;
border: none;
margin: 0;
}
.carousel {
width: 100%;
}

.bottom{
  display: inline-block;
  clear: both;
  height: auto;
}

.product-info.mobile {
  display: inline-grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  gap: 20px; /* Adjust spacing between columns */
  align-items: center; /* Align content vertically in the center */
  margin-left: 0;
  margin-top: 7%;
  clear: both;
  z-index: 99; 
  order: 2;
}

.info-left {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two rows inside the left column */
 margin-left: 5%;
}

.info-right {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}
.curve-silo{
  width: 108%;
  margin-right: 45%;
  margin-top: 25%;
}
.frame-spec{
  display: flex;
}
.lens-spec{
  display: flex;
}
.product-info p{
  font-family: Helvetica;
}
.spectrum-container{
  width: 100%;
  margin-left: 0;
  border: none;
margin: 0 auto;
padding: 3%;
text-align: center;
}
.spectrum-image{
width: 95%;
margin: 0 auto;
padding-top: 2%;
padding-bottom: 2%;
}

.frame-spec{
width: 100%;
display: inline-block;

margin-right: -4%;
font-family: 'hero-light';
font-size: 3.5vw;
font-weight: 100;
}
.lens-spec{
  width: 100%; 
  display: inline-block;

  margin-right: -4%;
  font-family: 'hero-light';
  font-size: 3.5vw;
  font-weight: 100;
}
.status-button{
  padding: 3%;
}
.add-and-price{
 
display: none;

}

.price{
  font-size: 2.8vw;
  font-family: Helvetica;
  float: right;
  margin-bottom: -150px;
  margin-right: 20px;
  display: none;

}
.atc-text{
  font-family: 'helvetica-Light';
  font-size:  2.4vw;
  font-weight: bold;
float: right;
}
.atc-desktop{
display: none;
}
.atc-mobile{
display: none;
}
.shopify-buy__btn-wrapper{
margin-left: 5px;
}
#product-component-1665318508741{
width: 110px;
height: 30px;
}
.lens-container.mobile{
display: flex;
width: 100%;
height: 100%;
margin-left: 0;
border: none;
}

.lens-container.desktop{
display: none;
}
.double-column.desktop{
display: none;
}

.lens-image{
width:  54%;
height: 100%;
margin-left: 1%;
}
.inner-text{
  vertical-align: middle;
  width: 45%;
  font-size: 3.2vw;
margin-top: 25%;
font-weight: 100;
}
/* Ensure the carousel takes up the full viewport height */
#carouselExampleIndicators {
  height: 60vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
}

.carousel-inner {
  /* Ensure the inner carousel takes up full height */
}

.carousel-item {
 /* Each carousel item should take full height */
  display: none;
  align-items: center; /* Vertically center the image */
  justify-content: center; /* Horizontally center the image */
}

.d-block.w-100 {
  height: auto;   /* Maintain aspect ratio */
  max-height: 100dvh;  /* Ensure it doesn't exceed container */
  width: auto;    /* Adjust width to maintain aspect ratio */
  max-width: 100dvw;
}



.curvature-options{
  display: inline;
}
.curve-select{
width: 60vw;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  align-items: center; /* Vertically centers content */
  white-space: nowrap;
}
}
