html, body {
    height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
  }
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
@font-face {
    font-family: Linea-font;
    src: url(Linea.ttf);
  }

  .vid-placehold.gif{
    display: none;
    
        }

#canadian-cities{
    opacity: 0;
transition: opacity 2s;
display: none;
}
.hyperlink{
    text-decoration: underline;
    color: #FF0000;
   font-style: oblique;
}
#horizontal-bars-2{
    transition: opacity 1s;
}

#full-page{
opacity: 0;
transition: opacity 2s;
width: 100%;
}
#loading-page{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s;
    overflow-y: hidden;
    
}
#loading-page img{
    width:700px;
}
.loading-text{
    font-family: helvetica;
    font-weight: 600;
    font-size: 1.5vw;
    color: #e82c0e;
    font-style: oblique 20deg;
    text-align: center;
    margin-top: 3%;
}


.UVIscale{
    display: block;
    margin-left: auto;
    margin-right: auto;
text-align: center;
width: 38%;

margin-bottom: 1.5%;
margin-top: 1.5%;

}
.daily-uv-text{
    text-align: center;
    font-weight: 830;
    font-size: 2vw;
    color: #FF0000;
    font-style: oblique 20deg;
    font-family: helvetica;
    margin-bottom: 2%;
    margin-top: 2%;
}
.topheader{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center
  

}
.abicsi-logo{
width: 38%;

}
.break {
    flex-basis: 100%;
    height: 0;
  }
.top_eyes{
    width: 28%;
    display: inline-block;
    margin-top: 2%;
}
#right_eye{
    margin-left: 2%;
}
#left_eye{
    margin-right: 2%;
}
.toplogo{
    font-family: Linea-font;

  font-size: 17vw;
  margin-top: -10%;

}

.gradient_bar{
    width: 100%;
}
.gradimg{
    max-width: 65%;
}

.gradient-text{
    display: flex;
    justify-content: space-between;

    margin-left: 0.5%;
    margin-right: .5%;

  margin-bottom: 0.5%;
    align-items: flex-start;

    margin-top: -0.5%;
 
}
.now-button{
   text-decoration: none;
   color: #ff0000;
}
.no-bold{
    font-weight: 400;
}

.moderate{
font-style: oblique;
}

.high{
font-style: oblique 10deg;      
}
.veryhigh{
    font-style: oblique 15deg;
}
.extreme{
    font-style: oblique 20deg;
}

.row{
  border: solid 2px transparent;
    height:95px;
    position: relative;
    width: 100%;
   max-height: 110px;
   
line-height: normal;
 text-align: center;
}
.date-text{
    font-size: 1.5vw;
    font-weight: 700;
    font-family: helvetica;
 margin-left: 0.5%;
    margin-bottom: 0.7%;
}
.full-date{
    color: #ff0000;
}
.middle-section{
    text-align: center;
}


.temis-map{
    margin-top: 2%;
    text-align: center;
   
}
.temis-credit{
    
    float: left;
    font-family: helvetica;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 13%;
}
.toggle-locations{
    float: right;
    
    font-family: helvetica;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 13%;
    margin-bottom: 3%;
}

.temis-credit.toggle-locations{
    margin-top: -5%;
}
.vid-placehold{
margin: auto;
width: 100%;
margin-top: 3%;
}
.arrow-graphic{
    margin: auto;
    width: 50%;
    margin-top: 1%;
}
.avail-now{
    font-family: helvetica;
    font-size: 3vw;
    color: #FF0000;
    font-weight: 700;
    padding-top: 3%;
}

.here-details{
    font-family: helvetica;
    font-size: 3vw;
    font-weight: 700;
    margin-top: 3%;
    margin-bottom: 3%;
    display: none;
}
.here{
    color: #FF0000;
    text-decoration: underline;
    font-style: italic;
}

.horizontal-bars{
    height: auto;
    width: 100%;
height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block;
    margin: 0 auto;

}
#advice-container{
width: 500px;
height: 125px;
margin: 0 auto;
}
.uv-advice{
text-align: center;
font-family: helvetica;
font-size: 1vw;
width: 500px;
height: 125px;

display: none;
}
.country_name{
    display: none;
    font-family: helvetica;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: -8px;
    font-style: oblique;
}

.levelone{
background-color: #4eb400;
}
.leveltwo{
    background-color:   #a0ce00;
}

.levelthree{
    background-color:   #f7e400;
}
.levelfour{
    background-color:   #f8b600;
}
.levelfive{
    background-color: #f88700;
    }
.levelsix{
        background-color:   #f85900;
    }
    
.levelseven{
        background-color:   #e82c0e;
    }
.leveleight{
        background-color:   #d8001d;
    }
 .levelnine{
        background-color:   #ff0099;
    }
    
.levelten{
        background-color:   #b54cff;
    }
.leveleleven{
        background-color:   #998cff;
    }


.lowlevel{
    background-color: green;
}
.moderatelevel{
    background-color: yellow;
}
.highlevel{
    background-color: orange;
}
.veryhighlevel{
    background-color: red;

}
.extremelevel{
    background-color: purple;
}

.temis-map img{
    width: 80%;
}

.location{ 
line-height: 70px;

z-index: 999;

 left: 8px;
 font-family: Linea-font;
 font-size: 9rem;
 
 padding-left: 1% ;

 position: absolute;
}
.uvi-info{
margin-right:  0.5px;
  position: absolute;
    right: 1px;
    font-weight: bolder;
   
    font-family: helvetica;
max-width: 190px;
max-height:96px ;
}


.UV-icon{
max-width: 85%;
max-height: 110px;
width: 85%;
align-self: flex-start;
height: 100%;
display:  inline-block;
vertical-align: middle;


}
.center{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 1px;
}
.text-level1{

    font-weight: bolder;
    font-size: 4vw;
    font-family: helvetica;
   
    
}
.product-info{
border: 1px solid green;
width: 100%;
text-align: center;
}
.uvi-info1{
    padding-right: 10%;
    position:absolute;
    right: 8px;
    font-weight: bolder;
    font-size: 4vw;
    font-family: helvetica;
    z-index: 10;
    bottom: 1px;
}

.uvi-level{
display: none;
}


/*SMARTPHONE MEDIA QUERIES */

@media screen and (max-width: 480px) {
    .vid-placehold.video{
display: none;

    }
    .vid-placehold.vid-placehold.gif{
        display: block;
        
            }
    #loading-page img{
        width:340px
    }
    .loading-text{
    font-size: 3vw;
    }
  
   #right_eye{
       display: none;
   }
    
  .topheader{
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content:center;
margin-top: 3%;
margin-bottom: 3%;
}
  .toplogo{
  font-size: 25vw;
  margin-right: 2%;
  }
  #left_eye{
    width: 42%;
    margin-right: 2%;
    
}
.avail-now{
font-size: 4.5vw;
}
.here-details{
    font-size: 4.5vw;
}
.gradient-text:last-child{
    margin-left: auto;
 
}
.moderate{
    margin-right: 5%;
}
.low{
    margin-right: 10%;
}
.high{
    margin-right: 5%;
}

.gradient-text{
    flex-basis: auto;
  width: 105%;
  }

.abicsi-logo{
    width: 55%;
    text-align: center;
}
  .UVIscale{
    margin-left: auto;
    margin-right: auto;
   
text-align: center;


margin-bottom: 2%;
margin-top: 3%;

     width: 55%;
  }
  
  .daily-uv-text  {
font-size: 0.80rem;



  }

  .date-text{
      font-size: 1.3vh;
      margin-left: 0.5%;
  }
.gradimg{
    max-height: 28px;
    
}

.veryhigh img{
    height: 27px;
}
.temis-map img{
    width: 90%;
}

.toggle-locations{
 margin-right: 8%;
 font-size: 0.5rem;

 margin-bottom: 3%;
}

    .location{
line-height: 50px;
font-size: 5rem;
  }
  .temis-credit{
      font-size: 0.5rem;
      margin-left: 8%;
  }

  .hyperlink{
 font-size: 0.7rem;
}
  .full-page{
      width: 100%;
  }
  .uvi-info{
    width: 25%;
      position: right;
      margin-right: -3px;
 
  }
.UV-icon{
width: 90%;
margin-top: 4px;
vertical-align: middle;

}

.row{
     max-height: 55px;
     
  line-height: 35px;
   text-align: center;
  }
  .country_name{
      font-size: 1.2vh;
  
  }
 #city_name_four{
     font-size: 4.3rem;
 }
 #city_name_seven{
    font-size: 4.7rem;
}
#city_name_fourteen{
    font-size: 3.4rem;
    
}
#city_name_nineteen{
    font-size: 3.4rem;
    
}
#city_name_nine{
    font-size: 3.7rem;
    
}
#city_name_sixteen{
    font-size: 4.6rem;
}
#city_name_eighteen{
    font-size: 4.6rem;
}
#city_name_twentyfour{
    font-size: 4.1rem;
    
}
#city_name_thirtyone{
    font-size: 4.2rem;
    
}
#city_name_thirtytwo{
    font-size: 4.9rem;
    
}
#city_name_thirtyfour{
    font-size: 4.1rem;
    
}
#city_name_thirtyfive{
    font-size: 4.6rem;
    
}
#city_name_thirtyeight{
    font-size: 3.3rem;
    
}
#city_name_thirtynine{
    font-size: 4.5rem;
    
}
#city_name_forty{
    font-size: 4rem;
    
}
  }


  @media  screen and  (min-width: 600px) and (max-width: 770px) {
    
    #city_name_nine{
        font-size: 16vw;
        
    }#city_name_twentyfour{
        font-size: 14vw;
        
    }
    #city_name_nineteen{
        font-size: 10.5vh;
        
    }
    #city_name_fourteen{
        font-size: 11vh;
        
    }
    #city_name_thirtyone{
        font-size: 13vh;
        
    }
    #city_name_thirtyfour{
        font-size: 13vh;
        
    }
    #city_name_thirtyeight{
        font-size: 11vh;
        
    }
    #city_name_forty{
        font-size: 13vh;
        
    }

}


/*Iphone 4 - 5 SMARTPHONE MEDIA QUERIES */

@media screen and (max-width: 350px)  and (min-width: 300px)  { 
.toggle-locations{
    margin-right: 0.5%;
    
}
.temis-credit{
    margin-left: 0.5%;
}
.country_name{
    font-size: 2.5vw;
}
.UV-icon{
   margin-top: 8px;
}
    .location{
        font-size: 14vh;
        line-height: 40px;
    } 
    #city_name_two{
        font-size: 23vw;
        
    }
    #city_name_four{
        font-size: 18vw;
        
    }
    #city_name_five{
        font-size: 21vw;
        
    }
    #city_name_seven{
        font-size: 19vw;
        
    }
    #city_name_nine{
        font-size: 16vw;
        
    }
    #city_name_eleven{
        font-size: 21vw;
        
    }
#city_name_fourteen{
    font-size: 14.5vw;
    
}
#city_name_sixteen{
    font-size: 20vw;
    
}
#city_name_eighteen{
    font-size: 20vw;
    
}
#city_name_nineteen{
    font-size: 14vw;
    
}

#city_name_twentyfour{
    font-size: 17vw;
    
}
#city_name_twentysix{
    font-size: 22vw;
    
}
#city_name_thirtyone{
    font-size: 18vw;
    
}
#city_name_thirtytwo{
    font-size: 22vw;
    
}
#city_name_thirtyfour{
    font-size: 17.5vw;
    
}
#city_name_thirtyfive{
    font-size: 19vw;
    
}
#city_name_thirtyeight{
    font-size: 14vw;
    
}
#city_name_thirtynine{
    font-size: 19vw;
    
}
#city_name_forty{
    font-size: 17vw;
    
}
#city_name_fortyone{
    font-size: 22vw;
    
}
#city_name_fortytwo{
    font-size: 23vw;
    
}
#city_name_fortyfour{
    font-size: 22vw;
    
}
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .UV-icon{
margin-top: 5px;
        width: 75%;
    }
}

@media screen and (max-width: 450px)  and (min-width: 405px)  { 
.UV-icon{
    margin-top: 2px;
}


}